@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf)
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf)
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf)
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url(../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf)
}