@font-face {
  font-family: Montserrat Regular;
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf)
}

@font-face {
  font-family: Montserrat Medium;
  src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf)
}

@font-face {
  font-family: Roboto Medium;
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf)
}

.header {
  height: 100px;
  font-family: Montserrat Regular;
  font-size: 24px;
}

.header a:link, a:visited {
  color: black;
  text-decoration: none;
  vertical-align: middle;
}

.header img {
  vertical-align: middle;
  margin-right: 100px;
  margin-left: 20px;
}

.task-addition-section {
  height: 100px;
  font-family: Montserrat Medium;
  font-size: 18px;
}

.circle-add-button {
  height: 58px;
  width: 58px;
  vertical-align: middle;
  border: none;
  border-radius: 50%;
  background-color: #2196F3;
  text-align: center;
  font-size: 40px;
  color: white;
  margin-right: 10px;
}

.circle-add-button i {
  margin-top: 4px;
}

.text-add {
  vertical-align: middle;
  display: inline-block;
  margin-top: 2px;
  color: #2196F3;
  font-weight: bold;
}

#add-task-option {
  cursor: pointer;
}

.not-shown {
  display: none;
}

.task-description-input {
  width: 490px;
  height: 40px;
  border-style: solid;
  border-color: #50B6CF;
  border-radius: 7px;
  font-size: 20px;
  margin-right: 15px;
  margin-left: 10px;
}

.task-color-option {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  display: inline-block;
  cursor: pointer;
  margin-right: 7px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.task-color-option-selected {
  box-shadow: 3px 3px 3px;
}

.create-task-button {
  width: 145px;
  height: 40px;
  font-family: Roboto Medium;
  font-size: 25px;
  color: white;
  background-color: #50B6CF;
  border: none;
  border-radius: 7px;
  margin-left: 10px;
  cursor: pointer;
}

.modal {
  width: 500px;
  height: 200px;
  border-radius: 7px;
  margin: auto;
  font-family: Montserrat Medium;
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
  box-shadow:
  0px 0px 2.2px rgba(0, 0, 0, 0.084),
  0px 0px 5.3px rgba(0, 0, 0, 0.121),
  0px 0px 10px rgba(0, 0, 0, 0.15),
  0px 0px 17.9px rgba(0, 0, 0, 0.179),
  0px 0px 33.4px rgba(0, 0, 0, 0.216),
  0px 0px 80px rgba(0, 0, 0, 0.3)
;
}

.modal button {
  width: 145px;
  height: 40px;
  font-family: Roboto Medium;
  font-size: 25px;
  color: white;
  background-color: #50B6CF;
  border: none;
  border-radius: 7px;
  margin-left: 10px;
  cursor: pointer;
}